footer {
    display: flex;
    gap: 1.6rem;

    padding-block: 2.4rem;
    font: var(--text-footer);

    & div {
        display: flex;
        gap: 1.6rem;
    }
}

footer span:nth-child(1) {
    flex-grow: 1;
}