header {
    padding-block: 3.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;

    font: var(--text-md)
}

#profile {
    display: flex;
    gap: 3.2rem;
}

#profile img {
    width: 17.6rem;
    height: 17.6rem;
    object-fit: cover;
    border-radius: 50%;
}

#profile>div {
    max-width: 38.4rem;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info {
    list-style: none;
    font: var(--text-sm);

    width: 28rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}