nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;

    line-height: 0;
    padding-block: 2rem;
}

nav #logo {
    margin-right: auto;
}

nav button {
    all: unset;

    border: 2px solid var(--brand-color);
    border-radius: 2rem;

    cursor: pointer;
}

nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding-block: 8px;
}

nav ul li:last-child img {
    width: 4rem;
    height: 4rem;
}

html.light nav ul li:first-child path {
    fill: var(--text-color-secundary);
}

nav ul li:first-child a:hover path {
    fill: var(--brand-color);
}