nav {
    display: flex;
    align-items: center;

    line-height: 0;
    padding-block: 2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: var(--nav-height);

    z-index: 100;
}

nav .keep-trying {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
}

nav.scroll-in {
    background-color: var(--brand-bg-color);
    backdrop-filter: blur(5px);

    animation: navFadeIn ease .5s;
}

nav.scroll-out {
    width: 100vw;
    animation: navFadeOut ease .5s;
}

@keyframes navFadeIn {
    from {
        background-color: inherit;
    }

    to {
        background-color: var(--brand-bg-color);
    }
}

@keyframes navFadeOut {
    from {
        background-color: var(--brand-bg-color);
    }

    to {
        background-color: inherit;
    }
}

nav #logo {
    margin-right: auto;
}

html.light .light-icon,
html:not(.light) .dark-icon {
    display: none;
}

nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding-block: 8px;
}

nav ul li:last-child img {
    width: 4rem;
    height: 4rem;
}

nav ul li:first-child a path {
    transition: fill .2s;
}

html.light nav ul li:first-child path {
    fill: var(--text-color-secundary);
}

nav ul li:first-child a:hover path {
    fill: var(--brand-color);
}