nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;

    line-height: 0;
    padding-block: 2rem;
}

nav #logo {
    margin-right: auto;
}

nav button {
    all: unset;

    cursor: pointer;
    padding: 8px;

    font: var(--text-sm);

    display: flex;
    align-items: center;
    gap: 1rem;

    border-radius: 50%;

    box-shadow:
        3px 3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.1);
}

html.light .light-icon,
html:not(.light) .dark-icon {
    display: none;
}

nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding-block: 8px;
}

nav ul li:last-child img {
    width: 4rem;
    height: 4rem;
}

html.light nav ul li:first-child path {
    fill: var(--text-color-secundary);
}

nav ul li:first-child a:hover path {
    fill: var(--brand-color);
}